
<body class="text-center">

  <form [formGroup]="loginForm">
    <h1 class="h3 mb-3 fw-normal">Giriş yap</h1>

    <div class="form-group">
      <input style="margin-top:15px ;" type="text" id="email" formControlName="email" class="form-control"
        placeholder="Email giriniz">
    </div>

    <div class="form-group">
      <input style="margin-top:15px ;" type="password" id="password" formControlName="password" class="form-control"
        placeholder="Şifre giriniz">
    </div>


    <button style="margin-top:15px ;" class="w-100 btn btn-lg btn-primary" (click)="checkUser()">Giriş yap</button>

  </form>

</body>
