<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RentACar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" *ngIf="isLogged==true" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/brand-admin">Markalar</a></li>
            <li><a class="dropdown-item" routerLink="/color-admin">Renkler</a></li>
            <li><a class="dropdown-item" routerLink="/car-admin">Arabalar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>

      </ul>

    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" *ngIf="isLogged==false" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sepet
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li *ngFor="let car of cartItems"><a class="dropdown-item">{{car.car.description}}</a></li>
          <li *ngFor="let carProp of carPropsCart"><a class="dropdown-item">{{carProp.carProps.name}}</a></li>
        </ul>
      </div>
      <a class="nav-link active" *ngIf="isLogged==true" aria-current="page" role="button" (click)="logOut()"  >Çıkış yap</a>
      <a class="nav-link active" *ngIf="isLogged==false" aria-current="page" role="button" routerLink="/login" >Giriş yap</a>
    </div>
  </div>
</nav>
